img {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    opacity: 0.7;
    /* border: black 1px solid; */
    top: 10em;
    left: 38em;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani';
}

h1 {
    z-index: 3;
    font-size: 15em;
    text-shadow: #fbdcdabb 5px 5px;
    color: #00b0b9;
}