/* styling the sidebar, "greeting" */
header {
    margin-bottom: 15px;
}

.sidebar-title {
    margin: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.user-stats {
    background-color: #0081A7;
    color: white;
    font-weight: 600;
    letter-spacing: .4px;
}

thead {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.15px;
    font-size: 1.1rem;
    color: #333;
    background-color: #00AFB9;
    color: white;
}

th {
    padding-left: 5px;
}

table tr td {
    border-bottom: 1px solid lightgray
}

.income-drop {
    color:


}

.expense-drop {

}

content {
    background-color: #FED9B7;
    width: 85%;
}

.greeting {
    background-color: #F07167;
    font-weight: 600;
    font-style:
}

.greeting-div {
    background-color: white;
}
form {
    padding: 10px;
}

