#expenses-chart {
    max-height: 300px;
    max-width: 300px;
}

#income-chart {
    max-height: 300px;
    max-width: 300px;
}

#subs-chart {
    max-height: 300px;
    max-width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 5em;
}

content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}